<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th colspan="2"></th>
        </tr>

        <% @news.each do |news| %>
        <tr>
          <td><%= news.title %></td>
          <td><%= news.body %></td>
        <% end %>
      </table>

    </div>
  </div>
</div>