<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Location</th>
          <th>Date / Time</th>
          <th colspan="2"></th>
        </tr>

        <% @concert.each do |concert| %>
        <tr>
          <td><%= concert.name %></td>
          <td><%= concert.description %></td>
          <td><%= concert.location %></td>
          <td><%= concert.datetime %></td>
        <% end %>
      </table>

    </div>
  </div>
</div>