<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Bio</th>
          <th colspan="2"></th>
        </tr>

        <% @member.each do |member| %>
        <tr>
          <td><%= member.name %></td>
          <td><%= member.bio %></td>
        <% end %>
      </table>

    </div>
  </div>
</div>