<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				<strong>Name:</strong>
				<%= @member.name %>
			</p>

			<p>
				<strong>Bio:</strong>
				<%= @member.bio %>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<%= link_to 'Back', members_path %>
		</div>
	</div>
</div>
